.slider {
	display: flex;
	max-width: 956px;
	overflow: hidden;

	.slider__blog {
		display: flex;
		width: 100%;
		transform: translateX(0);
		transition: all 0.5s ease-in-out;

		.slider__box {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			column-gap: 51px;
		}
	}
	
}
