@import './variables.scss';
@import '../nav/nav.scss';

.header {
	.header__box{
		display: flex;

		.header__logo {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 500;
			font-size: 36px;
			line-height: 42px;
			color: #000000;
		}
		.header__nav{
			.nav__list{
				@include flex-direction(row);

				.nav__link {
					@include color(#050038);
				}
			}

		}
		.header__buttons{
			.header__signin{}	
			.header__try-free-btn{}
		}
	}
}



