.gretting {
	padding-bottom: 150px;

	.short-description {
		display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 845px;
    text-align: center;
    margin: 0 auto;
		row-gap: 35px;

		.short-description__title {
			@extend %title-font-family;
			@extend %null-property;
			font-size: $main-title-size;
		}
		.short-description__text {
			@extend %null-property;
			@extend %text-font-family;
			font-size: $content-text-size;
			line-height: $content-text-height;
			color: $content-text-color;
			max-width: 526px;
		}
		.short-description__buttons {
			column-gap: 20px;
		}
		
		.short-description__try-free-btn {
			color: #fff;
		}
		
		.short-description__video-btn {
			width: 250px;
			background: #FFFFFF;
			box-shadow: 0px 10px 40px rgba(176, 201, 253, 0.3);
		}
	}
	
	.visualization {
		margin-top: 48px;
		display: flex;
		justify-content: center;
		align-items: center;

		.visualization__figure-left {
			width: 131px;
			height: 539px;
			position: relative;

			.square-left {
				position: absolute;
				left: 46px;
				top: 15px;
				width: 32px;
				height: 29px;
				border: 5px solid #FF2E00;
				border-radius: 6px;
			}
			.line-left {
				position: absolute;
				top: 154px;
				left: 96px;
				width: 84.17px;
				height: 0px;
				border: 3px solid #6FDAC0;
				transform: rotate(-23.82deg);
			}
			.circle-left {
				position: absolute;
				top: 255px;
				left: 67px;
				width: 35px;
				height: 35px;
				border: 3px solid #FEAC00;
				border-radius: 50%;
			}
			.small-square-left {
				position: absolute;
				bottom: 131px;
				right: -44px;
				width: 22px;
				height: 20px;
				border: 3px solid #FF0F0F;
				border-radius: 6px;
			}
			.rectangle-left {
				position: absolute;
				bottom: -24px;
				left: 80px;
				width: 41px;
				height: 20px;
				border: 3px solid #497FF8;
				border-radius: 6px;
			}
		}
		.visualization__image {
			background-image: url('../assets/img/main.png');
			height: 757px;
			width: 1135px;
			background-repeat: no-repeat;
			background-size: inherit;
			background-position: inherit;
			filter: drop-shadow(0px 20px 70px rgba(132, 149, 185, 0.17));
		}
		.visualization__figure-right {
			position: relative;
			width: 207px;
			height: 631px;
			
			.rectangle-right {
				position: absolute;
				top: 26px;
				left: 30px;
				width: 32px;
				height: 21px;
				border: 4px solid #FB380F;
				border-radius: 6px;
			}
			.line-right {
				position: absolute;
				top: 166px;
				left: 47px;
				width: 84.17px;
				height: 0px;
				border: 3px solid #6FDAC0;
				transform: rotate(-23.82deg);
			}
			.circle-right {
				position: absolute;
				top: 271px;
				left: 188px;
				width: 29px;
				height: 29px;
				border: 3px solid #FEAC00;
				border-radius: 50%;
			}
			.small-line-right {
				position: absolute;
				bottom: 131px;
				left: 107px;
				width: 41.59px;
				height: 0px;
				border: 3px solid #FEAC00;
				transform: rotate(-27.18deg);
			}
			.triangle-right {
				position: absolute;
				bottom: -29px;
				left: 27px;
				width: 54px;
				height: 54px;
				background-image: url('../assets/svg/triangle.svg');
				background-repeat: no-repeat;
			}
			
		}
	}
}
