.reviews {
	background: #F8F8FA;
	padding-bottom: 160px;

	.reviews__box {
		flex-direction: column;
		row-gap: 70px;

		.reviews__headlines {
			.reviews__subtitle {
				@extend %text-font-family;
				text-align: center;
			}
			.reviews__title {
			}
		}
		.reviews__contant {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			row-gap: 30px;
		}
	}
}
