%reset-styles {
	list-style-type: none;
	text-decoration: none;
}
%null-property {
	padding: 0;
	margin: 0;
}

%text-font-family {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
}
%title-font-family {
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: 900;
}
%link-font-family {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
}

%footer-link-style {
	font-size: 16px;
	line-height: 28px;
	color: #7884A6;
}


